:root {
  --lbcol: #fbdc4d;
}
.none {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #393f47;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.yellow-line {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.yellow-line::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 10px;
  height: 10px;
  width: 110%;
  background: var(--lbcol);
  z-index: -1;
}
.general-btn {
  height: 64px;
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 58px;
  color: #000;
  text-align: center;
  padding-left: 39px;
  padding-right: 39px;
  border-radius: 30px;
  border: 3px solid var(--lbcol);
  background-color: var(--lbcol);
}
.light-btn {
  border-color: #000;
  background-color: #fff;
}
.sections-title {
  position: relative;
  font-size: 64px;
  font-weight: 800;
  z-index: 2;
}
.sections-title .yellow-line::after {
  content: "";
  position: absolute;
  left: -3px;
  bottom: 19px;
  height: 12px;
  width: 102%;
}
.header {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 238px;
  background-image: url(../img/bg/header-line.jpg);
  background-size: auto;
  background-repeat: repeat-y;
  background-position: center;
}
.header-top {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 146px;
}
.header-logo {
  position: relative;
  font-size: 42px;
  font-weight: 900;
  color: #000;
  z-index: 2;
}
.header-logo .yellow-line::after {
  left: -3px;
  bottom: 10px;
  height: 10px;
  width: 107%;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav li {
  margin-right: 79px;
}
.header-nav li:last-child {
  margin-right: 0;
}
.header-nav .menu-item {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  z-index: 2;
}
.header-nav .menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 7px;
  background-color: var(--lbcol);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.header-nav .menu-item:hover::after {
  width: 100%;
}
.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-icons a {
  margin-right: 21px;
  color: #000;
  width: 29px;
  height: 29px;
}
.header-icons a:last-child {
  margin-right: 0;
}
.header-icons .telegram-icon {
  width: 26px;
  height: 27px;
}
.header-icons .vk-icon {
  width: 33px;
  height: 28px;
}
.header-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-introduction .header-introduction__img {
  width: 457px;
  position: relative;
  z-index: 2;
}
.header-introduction .header-introduction__img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 30%;
  top: 30%;
  background-image: -webkit-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.502;
  z-index: -1;
}
.header-introduction .header-introduction__img img {
  margin-top: 26px;
}
.header-introduction .header-introduction__text {
  width: 50%;
  z-index: 9;
}
.header-introduction .header-introduction__text h1 {
  margin-bottom: 16px;
  position: relative;
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  z-index: 2;
}
.header-introduction .header-introduction__text h1 .yellow-line::after {
  left: 0px;
  bottom: 12px;
  height: 12px;
  width: 100%;
}
.header-introduction .header-introduction__text p {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
}
.header-introduction .general-btn {
  margin-right: 16px;
}
.header-introduction .general-btn:last-child {
  margin-right: 0;
}
.header-introduction .light-btn {
  padding-right: 35px;
  padding-left: 35px;
}
.big-image {
  margin-top: -123px;
  margin-bottom: -5px;
  z-index: 1;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills {
  margin-right: 180px;
}
.skills .skills-title {
  margin-bottom: 23px;
  font-size: 40px;
  font-weight: 800;
  color: #000;
}
.skills li {
  margin-bottom: 3px;
  margin-left: 5px;
  font-size: 24px;
  font-weight: 400;
}
.skills li:last-child {
  margin-bottom: 38px;
}
.skills li::before {
  content: "—";
  position: relative;
  left: -7px;
}
.skills .general-btn {
  padding-left: 35px;
  padding-right: 35px;
}
.contacts .contacts-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
  color: #000;
}
.contacts .social-contacts {
  margin-bottom: 19px;
  margin-left: 4px;
}
.contacts .social-contacts a {
  margin-right: 25px;
  width: 50px;
}
.contacts .social-contacts a:last-child {
  margin-right: 0;
}
.contacts .social-contacts a .github-icon {
  color: #212121;
}
.contacts .social-contacts a .telegram-icon {
  color: #039be5;
}
.contacts .social-contacts a .vk-icon {
  border-radius: 50%;
  background-color: #4d76a1;
}
.contacts .social-contacts a .fb-icon {
  color: #3b5998;
}
.contacts .email {
  margin-left: 2px;
  border-bottom: 1px solid #000;
  font-size: 24px;
  color: #000;
}
.portfolio {
  background-color: #f4f8f9;
  padding-top: 100px;
  padding-bottom: 125px;
}
.sections-title {
  margin-bottom: 46px;
}
.portfolio-navigation {
  margin-bottom: 46px;
}
.portfolio-navbar li {
  display: inline-block;
  margin-right: 74px;
  font-size: 28px;
  font-weight: 800;
}
.portfolio-navbar li a {
  color: #8fa5ae;
}
.portfolio-navbar li .active-link {
  color: #000;
}
.layout-works-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.layout-works-1 .travel img,
.layout-works-1 .dream img {
  margin-bottom: 21px;
}
.layout-works-1 .works-title {
  margin-bottom: 2px;
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
.layout-works-1 .works-text {
  font-size: 22px;
  font-weight: 300;
  color: #000;
}
.layout-works-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout-works-2 .autoworld img {
  margin-bottom: 21px;
}
.layout-works-2 .works-title {
  margin-bottom: 2px;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.layout-works-2 .works-text {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
/*# sourceMappingURL=main.css.map */